h1{
    width:100%;
    margin:0;
    float:left;
    text-align:left !important;
    font-size:30px;
}
h1 button{
    float:right;
    background-color: black;
    color:white;
    border-radius:10px;
}
#footer{
    width: 100%;
    position:fixed;
    bottom:0;
    color:white;
    background-color: black;
}